@import "./components/tomster-viewer";
@import "./components/tomster";
@import "./components/tomster-viewer-header";

.custom-tomster {
  p {
    font-size: 45px;
    color: #e04e39;
  }
  img {
    padding: 40px;
    border: 11px dotted #e04e39;
  }
}
