<TomsterViewer as |viewer|>

    <viewer.header>

        <img src="assets/tomsters/octane.png" /> <span class="title">The Octane tomsters</span>

    </viewer.header>

    <viewer.left-tomster @theme="austin" />
    
    <viewer.right-tomster @theme="munich" />

</TomsterViewer>