<TomsterViewer @theme="canada" as |viewer|>

    <viewer.header>

            <img src="assets/tomsters/octane.png" /> <span class="title">The Octane tomsters</span>
     
    </viewer.header>

    <viewer.tomster />

</TomsterViewer>